<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/loginStyle.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</head>

<body>
    <div class='container'>
        <form action='login' method='POST'>
            <div id='loginForm'>
                <div class="row">
                    <label class="offset-xl-3 col-xl-1 offset-lg-3 col-lg-1 offset-md-2 col-md-2 col-12" style="text-align: center; font-size: 25px; font-weight:bold;">帳號</label>
                    <div align="center" class="col-xl-5 col-lg-5 col-md-5 col-12 form-group">
                        <input class="form-control required" style="width: 100%;" type="text" id="username" name="username" />
                    </div>
                </div>
                <div class="row">
                    <label class="offset-xl-3 col-xl-1 offset-lg-3 col-lg-1 offset-md-2 col-md-2 col-12" style="text-align: center; font-size: 25px; font-weight:bold;">密碼</label>
                    <div align="center" class="col-xl-5 col-lg-5 col-md-5 col-12 form-group">
                        <input class="form-control required" style="width: 100%;" type="password" id="password" name="password" />
                    </div>
                </div>
            </div>
            <div align="center">
                <input type="submit" style="outline:none; border:none; border-radius: 0px; width: 65px; height: 35px;" data-toggle="modal" data-target="#exampleModalCenter" value="登入">
            </div>
        </form>
    </div>
</body>

</html>