{% extends "base.html" %} {% block head %}

<head>
    <link rel="stylesheet" href="../static/css/tableStyle.css">
</head>
{% endblock %} {% block main %}
<button id="lottery" style="outline: none;">
        <img src="../static/img/抽獎.png"><p align = "start">倒數:02:20:32</p>
    </button>
<div id="ribbonButton">
    <button id="ribbonButton1" style="outline: none;">
        搜 尋&nbsp;<i class="fas fa-search"></i>
    </button>
    <button id="ribbonButton2" style="outline: none;">
        購 物 車
        <span class="badge">3</span>
    </button>
</div>

<div id="menu" class="container-fluid" align="center">
    <img src="../static/img/吃喝玩樂.gif">
</div>

<div id="clubView" class="container-fluid" align="center">
    <div class="row">
        <div class="col-xl col-lg-4 col-md-4 col-sm-6 col-6" align="center">
            <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive-y" alt="Image ">
        </div>
        <div class="col-xl col-lg-4 col-md-4 col-sm-6 col-6" align="center">
            <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive-b" alt="Image ">
        </div>
        <div class="col-xl col-lg-4 col-md-4 col-sm-6 col-6" align="center">
            <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive-y" alt="Image ">
        </div>
        <div class="col-xl col-lg-4 col-md-4 col-sm-6 col-6" align="center">
            <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive-b" alt="Image ">
        </div>
        <div class="col-xl col-lg-4 col-md-4 col-sm-6 col-6" align="center">
            <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive-y" alt="Image ">
        </div>
        <div class="col-xl col-lg-4 col-md-4 col-sm-6 col-6" align="center">
            <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive-b" alt="Image ">
        </div>
    </div>
    <div class="row">
        <div class="col-xl col-lg-4 col-md-4 col-sm-6 col-6" align="center">
            <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive-b" alt="Image ">
        </div>
        <div class="col-xl col-lg-4 col-md-4 col-sm-6 col-6" align="center">
            <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive-y" alt="Image ">
        </div>
        <div class="col-xl col-lg-4 col-md-4 col-sm-6 col-6" align="center">
            <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive-b" alt="Image ">
        </div>
        <div class="col-xl col-lg-4 col-md-4 col-sm-6 col-6" align="center">
            <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive-y" alt="Image ">
        </div>
        <div class="col-xl col-lg-4 col-md-4 col-sm-6 col-6" align="center">
            <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive-b" alt="Image ">
        </div>
        <div class="col-xl col-lg-4 col-md-4 col-sm-6 col-6" align="center">
            <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive-y" alt="Image ">
        </div>
    </div>
    <div class="row">
        <div class="col-xl col-lg-4 col-md-4 col-sm-6 col-6" align="center">
            <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive-y" alt="Image ">
        </div>
        <div class="col-xl col-lg-4 col-md-4 col-sm-6 col-6" align="center">
            <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive-b" alt="Image ">
        </div>
        <div class="col-xl col-lg-4 col-md-4 col-sm-6 col-6" align="center">
            <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive-y" alt="Image ">
        </div>
        <div class="col-xl col-lg-4 col-md-4 col-sm-6 col-6" align="center">
            <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive-b" alt="Image ">
        </div>
        <div class="col-xl col-lg-4 col-md-4 col-sm-6 col-6" align="center">
            <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive-y" alt="Image ">
        </div>
        <div class="col-xl col-lg-4 col-md-4 col-sm-6 col-6" align="center">
            <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive-b" alt="Image ">
        </div>
    </div>
    <div class="row">
        <div class="col-xl col-lg-4 col-md-4 col-sm-6 col-6" align="center">
            <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive-b" alt="Image ">
        </div>
        <div class="col-xl col-lg-4 col-md-4 col-sm-6 col-6" align="center">
            <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive-y" alt="Image ">
        </div>
        <div class="col-xl col-lg-4 col-md-4 col-sm-6 col-6" align="center">
            <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive-b" alt="Image ">
        </div>
        <div class="col-xl col-lg-4 col-md-4 col-sm-6 col-6" align="center">
            <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive-y" alt="Image ">
        </div>
        <div class="col-xl col-lg-4 col-md-4 col-sm-6 col-6" align="center">
            <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive-b" alt="Image ">
        </div>
        <div class="col-xl col-lg-4 col-md-4 col-sm-6 col-6" align="center">
            <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive-y" alt="Image ">
        </div>
    </div>
</div>
{% endblock %}